/*
 * reset properties
 */
:root {
    --cust-color: #d65050;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--cust-color) #fff;
}

body {
    min-height: 100vh;
}

/*
 * generic properties
 */
.text-bg-cust {
    color: #fff !important;
    background-color: var(--cust-color) !important;
}

main a {
    color: inherit;
    text-decoration: underline;
    -webkit-text-decoration-style: dashed;
            text-decoration-style: dashed;
    font-weight: 600;
}

main a:hover {
    color: var(--cust-color);
}

main .nav {
    --bs-nav-link-color: #6c757d;
    --bs-nav-link-hover-color: var(--cust-color);
}

main .nav-pills {
    --bs-nav-pills-link-active-bg: var(--cust-color);
    font-size: 85%;
}

.lead {
    margin-bottom: 1.5rem;
}

button:focus,
input:focus,
.form-control:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.form-check-input:checked {
    background-color: var(--cust-color);
    border-color: var(--cust-color);
}

.form-check-input:disabled {
    opacity: 1;
}

.md-break {
    display: block;
    font-size: 0;
    line-height: 0;
}

/*
 * styling sections
 */
.section-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-skew {
    position: relative;
    z-index: 0;
}

.section-skew.text-bg-cust {
    border-color: var(--cust-color);
}

.section-skew::before,
.section-skew::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
}

.section-skew::before {
    top: -2rem;
    border-left: 100vw solid transparent;
    border-bottom: 2rem solid;
    border-bottom-color: inherit;
}

.section-skew::after {
    bottom: -2rem;
    border-right: 100vw solid transparent;
    border-top: 2rem solid;
    border-top-color: inherit;
}

.section-title span {
    position: relative;
}

.section-title span::after {
    content: '';
    position: absolute;
    bottom: 35%;
    left: 110%;
    width: 33.33%;
    height: 3px;
    background-color: var(--cust-color);
}

/*
 * styling social icons
 */
.social-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
}

.social-icon.fb-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z'/%3E%3C/svg%3E");
}

.social-icon.twitter-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z'/%3E%3C/svg%3E");
}

.social-icon.pinterest-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z'/%3E%3C/svg%3E");
}

.social-icon.whatsapp-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z'/%3E%3C/svg%3E");
}

.social-icon.share-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z'/%3E%3C/svg%3E");
}

/*
 * element animation based on data-animate attribute
 */
 [data-animate] {
    opacity: 0;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    pointer-events: none;
}

[data-animate="fade-up"] {
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
}

[data-animate="zoom-in-up"] {
    -webkit-transform: translateY(100px) scale(.6);
        -ms-transform: translateY(100px) scale(.6);
            transform: translateY(100px) scale(.6);
}

[data-animate].animate {
    opacity: 1;
    pointer-events: auto;
}

[data-animate="fade-up"].animate {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

[data-animate="zoom-in-up"].animate {
    -webkit-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
}

/*
 * styling sticky header
 */
.scroll-fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 99;
}

.scroll-fixed-header:not(.sticky) .main-brand {
    display: block;
}

.scroll-fixed-header:not(.sticky) .float-brand {
    display: none;
}

.scroll-fixed-header.sticky {
    position: fixed;
    background: rgba(0, 0, 0, .8);
}

.scroll-fixed-header.sticky .main-brand {
    display: none;
}

.scroll-fixed-header.sticky .float-brand {
    display: block;
}

/*
 * styling main menu in header
 */
#mainMenu .navbar-nav .nav-link.active,
#mainMenu .navbar-nav .nav-link:hover {
    color: var(--cust-color);
}

/*
 * styling intro slider
 */
#intro {
    height: 100vh;
    overflow: hidden;
    background-image: url('https://i.pinimg.com/originals/b1/9e/88/b19e88eaf532e9d77e8064058dc2cd7a.jpg');
    background-position: 50% 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro .carousel-inner,
#intro .carousel-item {
    height: 100%;
}

#intro .carousel-inner {
    background-color: rgba(0, 0, 0, .6);
}

#intro .carousel-caption {
    left: 1rem;
    right: 1rem;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
        transform: translateY(50%);
}

/*
 * styling circular progress in about section
 */
svg.circular-progress {
    position: relative;
}

svg.circular-progress .track,
svg.circular-progress .count {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 348px;
    -webkit-transform: translate(5px, 5px);
        -ms-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
}

svg.circular-progress .track {
    stroke: #eaeaea;
    stroke-dashoffset: 0;
}

svg.circular-progress .count {
    stroke: var(--cust-color);
    stroke-dashoffset: 348;
}

svg.circular-progress .label {
    -webkit-transform: translate(50%, 53%);
        -ms-transform: translate(50%, 53%);
            transform: translate(50%, 53%);
    font-style: italic;
    font-weight: lighter;
}

/*
 * styling expertise section
 */
.glossy-box {
    position: relative;
    height: 100%;
    padding: 1rem 1.5rem;
    overflow: hidden;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.glossy-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: -125%;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, .4)), to(transparent));
    background: -o-linear-gradient(left, transparent, rgba(255, 255, 255, .4), transparent);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    -webkit-transform: skew(45deg);
        -ms-transform: skew(45deg);
            transform: skew(45deg);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.glossy-box:hover::after {
    left: 125%;
}

.glossybox-title {
    font-weight: bolder;
    text-transform: capitalize;
    line-height: 1;
}

.foggy-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 60%;
    overflow: visible;
    color: #000;
    opacity: .04;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.foggy-num {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(234, 234, 234, .6)), to(rgba(234, 234, 234, .2)));
    background-image: -o-linear-gradient(left, rgba(234, 234, 234, .6), rgba(234, 234, 234, .2));
    background-image: linear-gradient(to right, rgba(234, 234, 234, .6), rgba(234, 234, 234, .2));
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -.75rem;
    padding-right: 1rem;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/*
 * styling masonry in works section
 */
.masonry {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    gap: 1rem;
    margin-bottom: -1rem;
    counter-reset: itemsl;
}

.masonry .masonry-item {
    margin-bottom: 1rem;
    display: block;
    max-height: 22rem;
    overflow: hidden;
    -webkit-box-shadow: .05rem .05rem .5rem rgba(0, 0, 0, .1);
            box-shadow: .05rem .05rem .5rem rgba(0, 0, 0, .1);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: relative;
    counter-increment: itemsl;
}

.masonry .masonry-item::after {
    content: counter(itemsl);
    position: absolute;
    top: 0;
    right: .5rem;
    padding: .5rem .8rem;
    line-height: 1;
    border-radius: 0 0 3px 3px;
    color: #fff;
    background-color: var(--cust-color);
    pointer-events: none;
    opacity: 0;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.masonry .masonry-item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.masonry .masonry-item:hover::after {
    opacity: 1;
}

.masonry .masonry-item .img-fluid {
    pointer-events: none;
}

/*
 * styling counter in stats section
 */
.counter {
    font-size: 4rem;
    font-weight: 700;
}

.counter[data-post]::after {
    content: attr(data-post);
    font-size: 2.5rem;
    vertical-align: text-top;
}

/*
 * styling testimonial slider
 */
#testimonialSlider {
    padding-bottom: 2rem;
}

#testimonialSlider .carousel-control-next,
#testimonialSlider .carousel-control-prev {
    top: calc(100% - 1rem);
    bottom: 1rem;
}

/*
 * styling quick contact section
 */
#quickContact {
    margin-top: -2.5rem;
}

.qc-container {
    min-width: 100%;
    z-index: 0;
}

.qc-container::before,
.qc-container::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

.qc-container::before {
    left: -.5rem;
    width: calc(100% + 1rem);
    opacity: .6;
}

.qc-container::after {
    left: -.75rem;
    width: calc(100% + 1.5rem);
    opacity: .4;
}

.qc-item:not(:last-of-type) {
    padding-bottom: 1.5rem;
}

.qc-item:not(:last-of-type)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    width: 2px;
    height: 90%;
    background-color: #fff;
    -webkit-transform: skew(-16deg);
        -ms-transform: skew(-16deg);
            transform: skew(-16deg);
    display: none;
}

/*
 * styling footer content
 */
.list-links {
    list-style: none;
}

.list-links li {
    line-height: 1.8;
    position: relative;
}

.list-links li::before {
    content: '';
    position: absolute;
    top: .75rem;
    left: -1.5rem;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.list-links li:hover::before {
    left: -1rem;
}

.list-links a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.footer-form .form-control {
    background-color: transparent;
    border-width: 0 0 2px;
    border-radius: 0;
    border-color: rgba(255, 255, 255, .5);
    color: #fff;
}

.footer-form .form-control+label {
    color: rgba(255, 255, 255, .5);
}

#copyright {
    font-size: 90%;
}

/*
 * styling lightbox social-share buttons
 */
#shareOnSocial .btn:hover,
#shareOnSocial .btn:focus {
    border-color: transparent
}

/*
 * styling for small to large screen devices (min width of 576px)
 */
@media (min-width:576px) {
    .text-bg-sm-cust {
        color: #fff !important;
        background-color: var(--cust-color) !important;
    }
    .bg-sm-initial {
        color: initial !important;
        background-color: initial !important;
    }
    .masonry {
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;
    }
    #testimonialSlider .carousel-control-prev {
        left: 70%;
    }
}

/*
 * styling for medium to large screen devices (min width of 768px)
 */
@media (min-width:768px) {
    .md-break {
        display: inline;
        font-size: inherit;
        line-height: inherit;
    }
    .w-md-auto {
        width: auto !important;
    }
    #mainMenu .navbar-nav .nav-link {
        color: #fff;
    }
    .masonry {
        -webkit-column-count: 4;
           -moz-column-count: 4;
                column-count: 4;
    }
    .qc-container {
        min-width: auto;
    }
    .qc-container::before,
    .qc-container::after {
        -webkit-transform: skew(-16deg);
            -ms-transform: skew(-16deg);
                transform: skew(-16deg);
    }
    .qc-container::before {
        left: -1rem;
        width: calc(100% + 2rem);
        opacity: 1;
    }
    .qc-container::after {
        left: -1.5rem;
        width: calc(100% + 3rem);
        opacity: .5;
    }
    .qc-item:not(:last-of-type) {
        position: relative;
        padding-bottom: 0;
    }
    .qc-item:not(:last-of-type)::after {
        display: block;
    }
}